<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="amazon-add-to-cart" configfailurepolicy="continue">
    <test verbose="1"
        parallel="tests"
        thread-count="5"
          name="add-to-cart">
        <parameter name="output" value="target/test-output">
        </parameter>
        <classes>
            <class name="com.example.commons.testframework.tests.TestNGSuiteRunner"/>
        </classes>
    </test>
</suite>